body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
button {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:navy;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: #333;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
p {
    line-height: 1.6;
}
.introcow{
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
}
hr{
    border: 10px solid grey;
  border-radius: 5px;
}
