button:hover {
    background-color: #45a049;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0bb;
}
button {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:navy;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h1{
    text-align: center;
    color: navy;
    font-size: xx-large;
}
li{
    font-size: 20px;
    color: black;
    font-style: arial;
    font-display: block;
    font-size: xx-large;
    
    
}
p{
    font-size: 20px;
    color: black;
    font-style: initial;
    text-align: justify;
}
img{
    width: 100%;
    height: auto;
}